# $Id: php_value.template 7649 2004-09-21 05:15:47Z cryptographite $

php_value post_max_size 20971520
php_value upload_max_filesize 20971520
php_value magic_quotes_gpc off
php_value session.save_handler files
php_value register_globals off
